body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

p {
    color: #8f8f8f;
    margin-bottom: 0;
}

/* table CV */
tr {
    text-align: left;
}

/* Headings */
.big-heading {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 4.5rem;
    line-height: 1.5;
}

.small-heading {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

.carousel-heading {
    font-size: 2rem;
    line-height: 1.5;
}

/* Containers */
.container-fluid {
    padding: 3% 15%;
}

/* Sections */
.colored-section {
    background-color: #355463;
    color: #fff;
}

.white-section {
    padding-top: 10rem;
    background-color: #fff;
}

/* Navigation Bar */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Major Mono Display", monospace;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
}

/* Buttons */
.download-button {
    margin: 5% 3% 5% 0;
}

.download-button-cv {
    margin: 1% 0 0;
}

/* Title Section */
#title {
    background-color: #355463;
    color: #fff;
    text-align: left;
}

#title .container-fluid {
    padding: 3% 15% 7%;
}

/* Title Image */
.title-image {
    width: 75%;
    transform: rotate(10deg);
    position: absolute;
    right: 20%;
    top: 3%;
}

/* About Section */
.about-title {
    font-size: 1.5rem;
    color: #355463;
}

.about-box {
    padding: 4.5%;
}

.icon {
    color: rgba(53, 84, 99, 0.3);
    margin-bottom: 1rem;
}

.icon:hover {
    color: #355463;
}

/*Artefact Section*/
#artefact {
    background-color: #355463;
}

#skills-carousel {
    display: block;
    justify-content: center;
    height: 55rem;
}

.carousel-inner {
    display: flex;;
    justify-content: center;
}


.skills-icon {
    margin: 10px 10px;
    color: #ceddef;
}

.skills-icon:hover {
    color: #fff;
}

.skills-text {
    font-size: 3rem;
    line-height: 1.5;
}

.skills-image {
    width: 40%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.skills-image-big {
    width: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.skills-image-small {
    width: 19%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.skills-image-super-small {
    width: 12%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#skills .container-fluid {
    padding-bottom: 0;
}

/* Job */
#job {
    padding: 100px;
}

.job-text {
    font-size: 3rem;
    line-height: 1.5;
}

.job-column {
    padding: 3% 2%;
}

/* Footer Section */
.social-icon {
    margin: 10px 10px;
    color: #355463;
}

.social-icon:hover {
    color: rgba(53, 84, 99, 0.3);
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
        top: 35%;
    }

    /* About Section */
    .about-title {
        font-size: 4rem;
        color: #355463;
    }

    .about-box {
        padding: 4.5%;
    }

    .icon {
        font-size: 9rem;
        color: rgba(53, 84, 99, 0.3);
        margin-bottom: 1rem;
    }

    .about-text {
        font-size: 3rem;
    }

    .links-text {
        font-size: 2rem;
        color: #355463;
    }

    .links-text:hover {
        color: #fff;
    }

    /* Footer Section */
    .links {
        font-size: 3rem;
        margin: 10px 10px;
        color: #355463;
    }

    .small-heading {
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 3rem;
        line-height: 1.5;
    }

    .navbar-brand {
        font-family: "Major Mono Display", monospace;
        font-size: 3rem;
        font-weight: bold;
    }

    .navbar-toggler {
        font-size: 3rem;
        padding: 0 18px;
    }

    .nav-link {
        font-size: 3rem;
    }

    .carousel-heading {
        font-size: 3rem;
        line-height: 1.5;
    }

    h5 {
        font-size: 2rem;
    }

}

.flaticon {
    color: rgba(206, 221, 239, 0.19);
}

#footercv {
    background-color: #ceddef;
}


.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.top {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.middle {
    border-radius: 0;
    margin-bottom: -1px;
}

.bottom {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
